@font-face {
  font-family: 'Outfit';
  src: url('https://link-in-bio.rydercragie.com/outfit.ttf') format('truetype');
}

body, html {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Outfit', sans-serif; /* Outfit font applied */
  background: #ffffff;
  color: #333;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
}
.profile-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 600px;
  transition: background-color 0.3s;
}
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #000000;
  margin: 0 auto;
}
.name {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
  font-family: 'Outfit', sans-serif; /* Outfit font applied */
}
.links-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.links-list li {
  margin-bottom: 10px;
}
.social-link {
  text-decoration: none;
  color: #333;
  background-color: #e0e0e0;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
  font-family: 'Outfit', sans-serif; /* Outfit font applied */
}
.social-link:hover {
  background-color: #d4d4d4;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
    color: #f0f0f0;
  }
  .profile-container {
    background-color: #333333;
    color: #f0f0f0;
  }
  .profile-picture {
    border: 5px solid #000000;
  }
  .name {
    color: #f0f0f0;
  }
  .social-link {
    background-color: #444444;
    color: #f0f0f0;
  }
  .social-link:hover {
    background-color: #555555;
  }
}
@media (max-width: 768px) {
  .profile-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
